/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand: #0044d4;
    --vp-c-brand-light: #0044d4;
    --vp-c-brand-lighter: #0044d4;
    --vp-c-brand-dark: #0044d4;
    --vp-c-brand-darker: #0044d4;
}

.dark {
    --vp-c-brand: #4d7ce1;
    --vp-c-brand-light: #4d7ce1;
    --vp-c-brand-lighter: #4d7ce1;
    --vp-c-brand-dark: #4d7ce1;
    --vp-c-brand-darker: #4d7ce1;
}

.VPButton {
    border-radius: 6px!important;
}